<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/styles/homepage.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="header">
        <a href="homepage.html" class="logo">To-do list</a>
        <div class="search_box">
            <form>
                <input type="text" placeholder="search" name="search" />
                <button type="submit">submit</button>
            </form>
        </div>
        <div class="header-right">
            <a href="to-do-list">New list</a>
            <a href="user_profile.html">Profile</a>
            <a href="login.html">Log out</a>
        </div>
        
    </div>
</body>
</html>