<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/styles/signup.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="header">
        <a href="#" class="logo">To-do list</a>
        <div class="header-right">
            <a href="login.html">Sign in</a>
        </div>
    </div>
    <form class="signup">
        <h2>Create an account</h2>
        <div class="username">
            <label for="Username">User name:</label>
            <input type="text" name="user_name" id="Username" placeholder="Display name" required />
        </div>
        <div class="emailaddress">
            <label for="Emailaddress">Email address:</label>
            <input type="email" name="email_address" id="Emailaddress" placeholder="Email address" required />
        </div>
        <div class="password">
            <label for="pwd">Password:</label>
            <input type="password" name="user_password" id="pwd" placeholder="Password" required />
        </div>
        <div class="confirm_password">
            <label for="c_pwd">Confirm Password:</label>
            <input type="password" name="confirm_user_password" id="c_pwd" placeholder="Confirm password" required />
        </div>
        <div class="submit_button">
            <button type="button" name="SubmitButton">Submit</button>
        </div>
    </form>
</body>
</html>