<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create a To-do list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/styles/to-do-list.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="header">
        <a href="#" class="logo">To-do list</a>
        <div class="header-right">
            <a href="login.html">Sign in</a>
        </div>
    </div>
    <div class="to-do-list">
        <table>
            <caption>Create a To-do list</caption>
            <col class="task_col">
            <col class="button_col">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><input type="text" name="task" placeholder="Add a task" required /></td>
                <td>
                    <button type="button" name="remove">ADD</button>
                    <button type="button" name="remove">REMOVE</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="task" placeholder="Add a task"  required /></td>
                <td>
                    <button type="button" name="remove">ADD</button>
                    <button type="button" name="remove">REMOVE</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="task" placeholder="Add a task"  required /></td>
                <td>
                    <button type="button" name="remove">ADD</button>
                    <button type="button" name="remove">REMOVE</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="task" placeholder="Add a task"  required /></td>
                <td>
                    <button type="button" name="remove">ADD</button>
                    <button type="button" name="remove">REMOVE</button>
                </td>
            </tr>    
            <tr>
                <td><input type="text" name="task" placeholder="Add a task"  required /></td>
                <td>
                    <button type="button" name="remove">ADD</button>
                    <button type="button" name="remove">REMOVE</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="task" placeholder="Add a task"  required /></td>
                <td>
                    <button type="button" name="remove">ADD</button>
                    <button type="button" name="remove">REMOVE</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="task" placeholder="Add a task"  required /></td>
                <td>
                    <button type="button" name="remove">ADD</button>
                    <button type="button" name="remove">REMOVE</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="task" placeholder="Add a task"  required /></td>
                <td>
                    <button type="button" name="remove">ADD</button>
                    <button type="button" name="remove">REMOVE</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="task" placeholder="Add a task"  required /></td>
                <td>
                    <button type="button" name="remove">ADD</button>
                    <button type="button" name="remove">REMOVE</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" name="task" placeholder="Add a task"  required /></td>
                <td>
                    <button type="button" name="remove">ADD</button>
                    <button type="button" name="remove">REMOVE</button>
                </td>
            </tr>
            <tfoot>
                <td colspan="2">
                    <button type="button" id="submit_list" name="SubmitButton">Submit</button> 
                </td>
            </tfoot>        
        </table>
    </div>
</body>
</html>