<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/styles/user_profile.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="header">
        <a href="homepage.html" class="logo">To-do list</a>
        <div class="header-right">
            <a href="login.html">Log out</a>
        </div>
    </div>
    <div class="main_content">
        <div class="column_left">
            <ul>
                <li><a class="active" href="user_profile.html">Profile</a></li>
                <li><a href="to-do-list.html">Create a To-do list</a></li>
            </ul>  
        </div>
        <div class="column_right">
            <div class="image_profile">
                <img src="../../static/images/user.png" alt="user profile picture" />
            </div>
            <div class="personal_details">
                <h3>Personal details</h3>
                <p>User name</p>
                <p>Email address</p>
                <p>slang</p>
                <p>Number of To-do lists (8)</p>
            </div>           
        </div>
    </div>
</body>
</html>